@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
}


#vidGallery{
    width: 100%;
    padding:100px;
    // box-sizing: border-box;

    article{
        width: 100%;
        border: 1px solid #ccc;
        padding: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        a{
            width: 30%;
            img{width: 100%;}
        }
        .con{
            width: 65%;
        }
        
    }
}